# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 7d9cf9fba7b4812feda1170e7e405e6d97c6efa984cace65990f7b646c5a47a279c4ed9994f8f80353c5ec274bf451c9f3228a060a5e21d2c05608d641567b4c

test:
  secret_key_base: 2e462cec001da13ccac3b47e18a0002e32c2b6effb6d73cf16becbce0c2bbc23779cf600bbd5e628033c81b9c56f885c4869084551f4f2927092e3f42783a47f

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
